.card-click {
  height: 100%;
  
  .vuelta-img {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;

    .img-poke-vuelta {
      width: 100%;
      max-width: 6rem;
    }
  }

  .pokemon-nombre {
    text-align: center;
  }

  .tipos-vuelta {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  .tipoVuelta {
    padding: 0.25rem 0.5rem;
    border-radius: 100vmax;
    width: 5rem;
    margin-bottom: 0.4rem;
    text-align: center;
    font-size: 0.75rem;
  }

  .vuelta-info {
    height: 100%;
    // background-color: red;
    // background-color: #9ed4f338 ;
    border-radius: 2.2rem;
    width: 100%;

    .btnInfo {
      display: flex;
      justify-content: space-evenly;
    }

    .linea {
      display: none;
      border: none;
      border-top: 1px solid black;
      width: 100%;
    }

    .btn-selected .linea {
      display: block;
    }

    .uno {
      height: 43%;
      margin-top: 2.3rem;
      font-size: small;
      .estadisticasGenerales {
        margin-bottom: 0.5rem;
        text-transform: lowercase;
        font-size: medium;
        margin: 0 0.2rem;
        &::first-letter {
          text-transform: uppercase;
        }
      }
      ul {
        margin: 0 0.2rem;
        li {
          margin-block: 0.75rem;
          text-transform: lowercase;
          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }

  button {
    cursor: pointer;
  }

  .dos {
    display: none;
  }

  .tres {
    display: none;
  }

  .cuatro {
    display: none;
  }
}

.stat {
  display: block;
}
