.card-click {
  height: 100%;
  background-image: linear-gradient(120deg, #f0eeee 0%, #e6e7e7 100%);
  .vuelta-img {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    .button {
      position: absolute;
      left: 0;
      width: 56px;
      height: 56px;
      margin: 0;
      overflow: hidden;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      border: 0;
    }

    .button:before,
    .button:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      inset: 7px;
    }

    .button:before {
      border: 4px solid #7e7c7c38;
      transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
    }

    .button:after {
      border: 4px solid #928e8e;
      transform: scale(1.3);
      transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      opacity: 0;
    }

    .button:hover:before,
    .button:focus:before {
      opacity: 0;
      transform: scale(0.7);
      transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .button:hover:after,
    .button:focus:after {
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
    }

    .button-box {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
    }

    .button-elem {
      display: block;
      width: 20px;
      height: 20px;
      margin: 17px 18px 0 18px;
      transform: rotate(180deg);
      fill: #525252;
    }

    .button:hover .button-box,
    .button:focus .button-box {
      transition: 0.4s;
      transform: translateX(-56px);
    }

    .img-poke-vuelta {
      width: 100%;
      max-width: 6rem;
    }
  }

  .pokemon-nombre {
    text-align: center;
    margin-top: 1rem;
    color: #535353;
  }

  .tipos-vuelta {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
  }
  .tipoVuelta {
    padding: 0.25rem 0.5rem;
    border-radius: 100vmax;
    width: 5rem;
    margin-bottom: 0.4rem;
    text-align: center;
    font-size: 0.75rem;
  }

  .vuelta-info {
    height: 83%;
    border-radius: 2.2rem;
    width: 100%;
    color: #535353;

    .btnInfo {
      display: flex;
      justify-content: space-evenly;
    }

    .linea {
      display: none;
      border: none;
      border-top: 1px solid rgb(0, 0, 0);
      width: 100%;
    }

    .btn-selected .linea {
      display: block;
    }

    .uno {
      height: 43%;
      margin-top: 1.3rem;
      font-size: small;
      .estadisticasGenerales {
        margin-bottom: 0.5rem;
        text-transform: lowercase;
        font-size: medium;
        margin: 0 0.2rem;
        color: black;
        &::first-letter {
          text-transform: uppercase;
        }
      }
      ul {
        margin: 0 0.2rem;
        li {
          margin-block: 0.75rem;
          text-transform: lowercase;
          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .dos {
    height: 43%;
    font-size: small;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #6c02e8;
      border-radius: 4px;
    }
    .vuelta-stats {
      padding: 5px;
      margin: 5px 0;

      .p-stats {
        font-weight: bold;
      }
      .progress-bar {
        height: 10px;
        background-color: #eee;
        border-radius: 5px;
        margin-top: 5px;
        position: relative;

        .progress-value{
          height: 100%;
          max-width: 100%;
          border-radius: 5px;
        }

        .porcentaje {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .tres {
    height: 43%;
    margin-top: 1rem;
    font-size: small;
    text-transform: lowercase;
    padding: 5px;
    &::first-letter {
      text-transform: uppercase;
    }

    .movimientos {
      margin-bottom: 0.5rem;
      font-size: medium;
      margin: 0, 0;
      color: black;
    }

    .fullMovimientos {
      height: 86%;
      overflow-y: auto;
      padding: 0 5px;
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #6c02e8;
        border-radius: 4px;
      }
    }
  }
  button {
    cursor: pointer;
  }
}

.stat {
  display: block;
}
